/* Styling div maincontainer*/

div#divmaincontainer { 
  width:80%;
  margin:auto;
  border:1px solid blue;}

/*Styling the header of the site*/
header#siteheader {
  width:100%;
  height:150px;
  background-image:linear-gradient(grenyellow, cyan,teal);
  border:1px solid darkgrey;
  border-radius:5px; 10px 0 0;
  padding: 20px;
  text-align: center;
}
  
/*styling site title*/
  h1#sitetitle {
    font-family: Arial;
    font-size: 32px;
    color: orange;}

/*site motto*/
span#sitemotto {
  font-size: 18px;
  font-family:tahoma;
  font-style: italic;
  color: aqua;
  text-align: center;}

/*site navigation*/

nav#sitenav {
  width: 100%;
  height: 30px;
  background-color: radial-gradient(greenyellow, cyan);}

/* navigation elements*/
ul#ulnav>li {
  display:inline;
  list-style-type: none;
}


